{% load static %}

<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Testme - {% block title %}{% endblock title %}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="{% static 'testme/styles.css' %}" />

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="{% static 'testme/script.js' %}"></script>
  </head>
  <body>
    {% block body %}{% endblock body %}
  </body>
</html>
